<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Appendix C</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/application.css">
  </head>
  <body>


    <div class="container">

      <div class='row'>
        <div class="col-sm-4">
           <div class='logo'>
             <div class="title">Logo</div>
           </div>
        </div>
        <div class="col-sm-8">
            <h1>Fixture Report</h1>
        </div>
      </div>












      <br>

      <div class='row'>
        <div class="col-4 hr-block">
          <h2><%= @office_title['title'] %></h2>
        </div>
        <div class="col-5 hr-block"></div>

        <div class="col-3 hr-block">
          <h3><%= @total_count %></h3>
        </div>



        <div class="w-100 d-none d-md-block"></div>


        <% @new_hash.each do |key, value| %>
          <% value.each do |k, v| %>
            <div class="col-3">
            </div>

            <div class="col-6">
              <div class="center"><%= k["type"]%></div>
            </div>
            <div class="col-3">
              <div class="center"><%= v %></div>
            </div>

          <% end %>

        <% end %>


      </div>


    </div>

  </body>
</html>
